body {
    background: #ecc59d;
    color: #6a4015;
    margin: 0;
    padding: 0 0 0 0;
}

body h1 {
    background: #d5802a;
    text-align: center;
    font-size: 3em;
}

body p{
    font-size: 1.5em;
    text-align: center;
}

body a {
    color: #6a4015;
}

body a:selected {
    color: #6a4015;
}

body a:hover {
    color: #000000;
}

div.project {
    background: #e6b37f;
    width: 70%;
    margin: 0 auto;
}

div.project h3{
    font-size: 2em;
    text-align: center;
    background: #d5802a;
    min-height: 1.4em;
}

div.projecttext {
    font-size: 1.25em;
    margin-top: -1.5em;
}

div.projectimg {
    float: left;
}